@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::after,
  ::before {
    @apply m-0 p-0 box-border;
  }

  html {
    font-family: "Kalam", sans-serif;
  }

  body {
    @apply bg-dark text-light;
  }

  h1 {
    @apply text-xl;
  }
}

@layer components {
  .animate-scale {
    animation: 0.4s scale infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }

  .cell {
    @apply w-16 h-16 bg-dark flex items-center justify-center border border-light rounded-md;
    transition: scale 0.2s ease-in-out;
  }

  .game {
    @apply relative h-screen w-screen p-4;
  }

  .position__2-3 {
    @apply bg-red-500;
  }

  .layout {
    background-image: url(/public/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }

  .logo {
    @apply max-w-[6rem] max-h-[6rem];
  }

  .player {
    @apply cursor-pointer;
  }

  .selected {
    scale: 0.9;
  }

  .text-important {
    @apply text-primary text-2xl;
  }

  .valid__move {
    @apply bg-gray !important;
  }
}

@keyframes scale {
  0% {
    scale: 0.9;
  }
  100% {
    scale: 1;
  }
}
