@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::after,
  ::before {
    @apply m-0 p-0 box-border;
  }

  html {
    font-family: "Kalam", sans-serif;
  }

  body {
    @apply bg-dark text-light;
  }

  h1 {
    @apply text-sm sm:text-xl;
  }
}

@layer components {
  .animate-scale {
    animation: 0.4s scale infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
  }

  .cell {
    @apply w-12 h-12 md:w-14 md:h-14 lg:w-16 lg:h-16 bg-dark flex items-center justify-center border border-light rounded-md;
    transition: scale 1s ease-in-out, background-color 1s ease-in-out 0.2;
  }

  .game {
    @apply relative h-screen w-screen p-1 sm:p-4 flex items-center justify-center;
  }

  .layout {
    background-image: url(/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }

  .logo {
    @apply max-w-[5rem] max-h-[5rem] sm:max-w-[6rem] sm:max-h-[6rem];
  }

  .machine-blob,
  .player-blob {
    @apply w-24 h-24 lg:w-28 lg:h-28 xl:w-32 xl:h-32 text-2xl flex items-center justify-center;
    filter: drop-shadow(0px 0px 4px black);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .machine-blob {
    background-image: url(/machine-blob.svg);
  }

  .player {
    @apply cursor-pointer;
  }

  .player-blob {
    background-image: url(/player-blob.svg);
  }

  .selected {
    scale: 0.9;
  }

  .text-important {
    @apply text-primary text-2xl;
  }

  .valid__move {
    @apply bg-gray cursor-pointer !important;
  }

  @media screen and (max-width: 430px) {
    .cell {
      @apply w-8 h-8;
    }
    .machine-blob,
    .player-blob {
      @apply w-20 h-20;
    }
  }
}

@keyframes scale {
  0% {
    scale: 0.9;
  }
  100% {
    scale: 1;
  }
}
